#cookie-container{

	z-index: 999;
	display: none;
	border: 4px solid #f7c413;
	width: 250px;
	position: fixed;
	right: 0;
	bottom: 0;
	background-color: #fff;
}
#mobile-text{
	display: none;
}

#disclaimer-text{
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	text-align: left;
	color:inherit;
	padding: 0 15px;
	text-overflow: ellipsis;
}
#agree-close{
	display: block;
	padding: 10px;
	margin: 15px;
	width: 211px;
	font-size: inherit;
	font-weight: inherit;
	text-align: center;
	background:#f7c413;
}
#x-close{
	cursor:pointer;
	display: block;
	text-align: right;
	padding: 5px 10px;
	width: 20%;
	float: right;
	margin-bottom: 10px;

}

@media screen and (max-width: 450px){
	#desktop-text{
		display: none;
	}
	#mobile-text{
		display: block;
	}
	#cookie-container{
		width: 100%;
	}
}